
 .logo{
    background-image: url(../images/pokemonlogo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    // padding-top: 200px;

} 
.choose-pokemon {
    display: grid;
    padding-bottom: 200px;
    grid-gap: 2rem;

    > div {
        text-align: center;
        cursor: pointer;
        transition: background-color 0.15s ease;

        &:hover {
            background-color: #eee;
        }

        img {
            height: 200px;
        }
    }

    
}


@media screen and (min-width: 768px) {
    .choose-pokemon {
        grid-template-columns: repeat(3, 1fr);
    }
}